/* Import your local fonts using relative paths */
@font-face {
    font-family: 'Magelo Bold';
    src: url('/Magelo/Magelo Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Magelo Extra Light';
    src: url('/Magelo/Magelo Extra Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Magelo Light';
    src: url('/Magelo/Magelo Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Magelo Medium';
    src: url('/Magelo/Magelo Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Magelo Regular';
    src: url('/Magelo/Magelo Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Magelo Semi Bold';
    src: url('/Magelo/Magelo Semi Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    font-family: Magelo Light;
    letter-spacing: 2px;
}

body{
  background-color: theme(colors.dark2);
  position: relative;
}


